<div class="cellPhone" data-key="{{id}}">
    <a {{#if @root.unlockOthers}} onclick="window.location.href = '/update?id={{id}}'"{{/if}}>
        <td>
            <tr>{{fullName}}</tr>
            <tr>{{phone}}</tr>
        </td>
    </a>
</div>